/* General Styling */
body {
  font-family: sans-serif;
  margin: 20px;
}

/* Form Styling */
form {
  max-width: 500px;
/*margin: 0 auto;*/
  margin: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Button Styling */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Feature Entries Styling */
.feature-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Output Area Styling */
/*#out {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  height: 200px;
}
*/
/* Links Styling */
a {
  color: #007bff;
  text-decoration: none;
}

/* Responsive Design (optional) */
@media (max-width: 600px) {
  form {
    width: auto;
    padding: 15px;
  }
}
